# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Python cache
*.pyc
*.pyo

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg
*.egg-info/
.installed.cfg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
coverage.xml
nosetests.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Type checkers
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# Translations
*.mo
*.pot

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Documentation
docs/_build/
site/

# PyBuilder
.pybuilder/
target/

# Jupyter
.ipynb_checkpoints/

# IPython
profile_default/
ipython_config.py

# Python version manager
.python-version

# Dependency managers
Pipfile.lock

# PEP 582
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# Virtual environments
.env
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Cython
cython_debug/