
# Byte-compiled / optimized / DLL files
# C extensions
# Celery
# Cython
# Dependency managers
# Distribution / packaging
# Django
# Documentation
# Flask
# IDEs
# IPython
# Installer logs
# Jupyter
# OS
# PEP 582
# PyBuilder
# PyInstaller
# Python cache
# Python version manager
# SageMath
# Scrapy
# Translations
# Type checkers
# Unit test / coverage reports
# Virtual environments
*$py.class
*.cover
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py,cover
*.py[cod]
*.pyc
*.pyo
*.sage.py
*.so
*.spec
*.swo
*.swp
*~
.DS_Store
.Python
.cache
.coverage
.coverage.*
.dmypy.json
.eggs/
.env
.hypothesis/
.idea/
.installed.cfg
.ipynb_checkpoints/
.mypy_cache/
.nox/
.pybuilder/
.pyre/
.pytest_cache/
.python-version
.pytype/
.ropeproject
.scrapy
.spyderproject
.spyproject
.tox/
.venv/
.vscode/
.webassets-cache
ENV/
MANIFEST
Pipfile.lock
Thumbs.db
__pycache__/
__pypackages__/
build/
celerybeat-schedule
celerybeat.pid
cover/
coverage.xml
cython_debug/scripts/bench/last_results.json
db.sqlite3
db.sqlite3-journal
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env.bak/
env/
htmlcov/
instance/
ipython_config.py
lib/
lib64/
local_settings.py
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
profile_default/
sdist/
share/python-wheels/
site/
target/
var/
venv.bak/
venv/
wheels/
